

.App-header {
  background-color: #d3d6dd;
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: 15px;
  color: black;
}


